---
---

body {
    background-color: #cc995d; 
    color: #000000;
    font-family: 'Comic sans', Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #00FF00;
    text-decoration: none;
    font-weight: bold;
}
t1 {
  font-size: 200px;
}

a:hover {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}


main {
    background: #FFFFFF;
    padding: 110px;
    border-radius: 100px;
    margin-top: 100px;
}
