<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

    <header>
        <h1>Arjun Selva</h1>
        <nav>
            <a href="{{ '/' | relative_url  }}">Homepage</a> | 
            <a href="{{ '/project' | relative_url }}">Projects or achievements</a> | 
            <a href="{{ 'https://www.linkedin.com/in/arjun-selva-0a30013b0/' | relative_url }}">Linkedin</a>

        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
    </footer>

</body>
</html>
